#login form
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    width: auto;
    font-size: larger;
    
}

#login 
{
    display: flex;
    padding: 5px;
    min-width: 350px;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 25px;
}

#login form input[type="text"] ,#login form input[type="password"], #descripcion
{
    border: 2px solid black;
    border-radius: 25px;
    width: 300px;
    caret-color: transparent;
    resize: none;
}

#login form label
{
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#botonRegistro input
{
    margin-top: 10px;
    border: 2px solid black;
    background-color: white;
    font-size: 16px;
    border-radius: 20px;
}

#botonRegistro input:hover
{
    transition: 0.25s;
    background-color: black;
    color: white;
}

#imagen 
{
    margin-top: 10px;
}

#imagen::file-selector-button
{
    border: 2px solid black;
    background-color: white;
    border-radius: 20px;
}

#imagen::file-selector-button:hover
{
    transition: 0.25s;
    color: white;
    border: 2px solid white;
    background-color: black;
}

#tipo_componente 
{
    margin-top: 10px;
    border: 2px solid black;
    background-color: white;
    border-radius: 20px;
}